p, h1, h2, a {
    margin: 0;
    padding: 0;
}

a:active,
a:hover,
a {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.container-elements {
    display: flex;
    justify-content: space-between;
}

.pageable-box {
    padding-left: 20px;
}

.filter-box {
    margin-left: 2%;
    box-sizing: border-box;
    width: 300px;
    height: 655px;

    background: #FFFFFF;
    border: 2px solid #520974;
    border-radius: 25px;

    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.filter-label-find {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 19px;

    color: #520974;
}

.filter-input-lable {
    padding-left: 5%;
    font-family: 'Inter';
    font-style: normal;
    font-size: 24px;
    line-height: 19px;
    padding-bottom: 5px;

    color: #520974;
}

.filter-box input[type=text] {
    width: 260px;
    height: 50px;
    background: #FFFFFF;
    border: 2px solid #520974;
    border-radius: 10px;
    font-size: 22px;
}

.filter-box-between {
    width: 260px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.filter-input-lable-between {
    padding-bottom: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-size: 24px;
    line-height: 20px;
    text-align: center;

    color: #520974;
}

.filter-box-input-between {
    width: 120px;
    height: 50px;
    background: #FFFFFF;
    border: 2px solid #520974;
    border-radius: 15px;
    font-size: 24px;
    text-align: center;
}

.filter-box-input-between::placeholder {
    text-align: center;
}

.filter-box-select-height {
    height: 50px;
    width: 260px;
    background: #FFFFFF;
    border: 2px solid #520974;
    border-radius: 10px;
    font-size: 22px;
}

select::-webkit-scrollbar {
    border-radius: 2px;
}

select:focus,
input:focus {
    border: 3px solid rgb(86, 207, 255);
    outline: none;
}

.filter-box-lable-and-input {
    display: flex;
    flex-direction: column;
}

.filter-input-find-submit {
    width: 140px;
    height: 50px;

    background: #FFFFFF;
    border: 2px solid #520974;
    border-radius: 5px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 15px;
    transition-duration: 0.5s;
    color: #520974;
}

.filter-input-find-submit:hover {
    width: 150px;
    height: 55px;
    transition-duration: 0.5s;
    background: #520974;
    color: white;
    font-weight: 500;
    font-size: 40px;
}

.filter-input-find-submit:focus,
.filter-input-find-submit:active {
    width: 150px;
    height: 55px;
    background: #520974;
    border: 2px solid #520974;
    color: white;
    font-weight: 500;
    font-size: 40px;
}

.container-orders {
    width: 72%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.template-box {
    display: flex;
    justify-content: left;
    flex-direction: column;

    margin: 0px 20px 40px 20px;
}

.cost-lable {
    background: rgba(82, 9, 116, 0.9);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 12px;
    width: 150px;
    height: 40px;

    color: #FFFFFF;
    text-align: center;
    padding-top: 16px;
    border-radius: 25px 0px 25px 0px;
}

.template-box img {
    width: 400px;
    height: 480px;
    background-size: 100% 100%;
    margin-bottom: 10px;
}

.material-and-colors-select-box {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.select-template {
    width: 165px;
    border: 1px solid #520974;
    border-radius: 5px;
    color: rgb(51, 51, 51);
}

.select-template:focus {
    border: 1px solid #520974;
    outline: none;
}

.select-template option {
    color: #520974;
}

.template-name {
    padding-top: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 24px;
    text-align: center;

    color: #520974;
}

.selected-option {
    background-color: #520974;
    color: white;
}

.hidden-style {
    margin: 0px;
    padding: 0px;
    height: 0px;
    width: 0px;
    border: 0px;
}