p,h1,h2{
    margin: 0;
    padding: 0;
}

a:active, 
a:hover,  
a {
  text-decoration: none;
  margin: 0;
  padding: 0;
    color: #520974;
}


.top-label-h1-text{
    font-family: 'Griffy';
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 54px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;

    color: #520974;
    transition-duration: 0.5s;
}

.top-label-h1-text:hover{
    font-size: 70px;
    transition-duration: 0.5s;
}

.line-button-box{
    height: 60px;
    background: rgba(82, 9, 116, 0.9);
    
    display: flex;
    justify-content: center;
}

.line-button-box-margin-top{
    height: 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.line-button-box-margin-top-center{
    display: flex;
    justify-content: center;
    flex-direction: row;

    color:white;
  
    font-family: 'Imprima';
    font-style: normal;
    font-size: 30px;
}

.line-button-box-margin-top-center a{
    padding-left: 7px;
    padding-right: 7px;
    color:white;
    transition-duration: 0.5s;
}

.line-button-box-margin-top-center a:hover{
    border-radius:20px;
    font-size: 35px;
    transition-duration: 0.5s;
}
