<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/customer_office_style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/sort_style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/top_label_style.css}"/>

    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Griffy' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Imprima' rel='stylesheet'>

    <title>Office</title>
</head>

<body>
<th:block th:include="TopLablePage"></th:block>

<div class="container-filter-and-info">
    <div class="filter-and-user-info-container">
        <div class="user-info-label-box">
            <img th:src="@{/images/UserPhoto.jpg}" alt="user img">
            <div class="user-info">
                <p th:text="${#authentication.getPrincipal().firstname} + ' ' + ${#authentication.getPrincipal().lastname}">
                    Владислав Mmm</p>
                <p sec:authentication="principal.phoneNumber">380660660660</p>
            </div>
        </div>

        <form action="http://127.0.0.1:5500/index.html" class="filter-box" id="filter-id">

            <label for="" class="filter-main-label filter-item-margin">Find by</label>

            <select name="statuses" multiple id="statuses-select-id" class="filter-input-box filter-item-margin"
                    value="">
                <option th:each="status : ${T(sigma.tailoring.entities.OrderStatus).values()}"
                        th:value="${status.name()}" th:text="${@controllerHandler.toTitleCase(status)}"
                >Status
                </option>
            </select>

            <select name="paymentStatuses" multiple id="payment-statuses-select-id"
                    class="filter-input-box filter-item-margin" value="">
                <option th:each="payStatus : ${T(sigma.tailoring.entities.OrderPaymentStatus).values()}"
                        th:value="${payStatus.name()}" th:text="${@controllerHandler.toTitleCase(payStatus)}"
                >PAYMENTED
                </option>
            </select>

            <div class="filter-item-margin">
                <label for="" class="input-between-label">Price</label>
                <div class="input-between-box">
                    <input type="number" name="cost.from" class="input-between" placeholder="Min">
                    <input type="number" name="cost.to" class="input-between" placeholder="Max">
                </div>
            </div>

            <div class="filter-item-margin">
                <label for="" class="input-between-label">Date of creation</label>
                <div class="input-between-box">
                    <input type="datetime-local" name="dateOfCreation.from" class="input-between data-style"
                           placeholder="Min">
                    <input type="datetime-local" name="dateOfCreation.to" class="input-between data-style"
                           placeholder="Max">
                </div>
            </div>

            <input type="button" value="Find" class="submit-input filter-item-margin"
                   onclick="selectToMultipleSelect(),updateOrderContainer()">
        </form>
    </div>


    <div class="order-and-sort-container">
        <div class="office-pageable-box">
            <p class="your-orders-label">Your orders</p>
            <input form="filter-id" type="hidden" name="desc" id="sort-input-desc" value="true">
            <div class="sort-box">
                <select name="sortSelectField" form="filter-id" class="sort-select"
                        onchange="sortByColumn(this.value,updateOrderContainer)">
                    <option th:each="sortColumn : ${T(sigma.tailoring.tools.BuyerOrderFilter).AVAILABLE_COLUMNS_TO_SORT}"
                            th:value="${sortColumn}"
                            th:text="${@controllerHandler.toTitleCase(sortColumn).replaceAll('_',' ')}"

                    >DATE_OF_CREATION
                    </option>

                </select>

                <button id="sort-button-id" onclick="changeDirection(this.id),setDirection(updateOrderContainer)"
                        class="sort-button-style"></button>
            </div>
        </div>

        <div class="short-orders-container" id="short-orders-container-id">
        </div>
    </div>


</div>
<input id="image-order-derictory-id" th:value="${@environment.getProperty('order.image.server.directory')}"
       type="hidden">
<input id="image-order-from-template-directory-id"
       th:value="${@environment.getProperty('template.image.server.directory')}" type="hidden">
</body>
<script th:src="@{/js/multi-select-dropdown.js}"></script>
<script th:src="@{/js/sort-buttons.js}"></script>
<script th:src="@{/js/js_library.js}"></script>
<script th:src="@{/js/page.js}"></script>
<script th:src="@{/js/make_form_data_from_filter.js}"></script>
<script th:src="@{/js/customer_office_controller.js}"></script>
<script>


    sortButtons.push(sortButton('sort-button-id', 'sort-input-desc', true));
    setSymbols();
    startCustomSelect([
        multipleCustomeSelect('statuses-select-id', "Order status", 'selected-option'),
        multipleCustomeSelect('payment-statuses-select-id', "Payment status", 'selected-option'),
    ]);

    setMultipleSelects(['statuses', 'paymentStatuses']);
    updateOrderContainer();
</script>

</html>