<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="utf-8">

    <title>Show all templates</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Neucha"/>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

    <link href='https://fonts.googleapis.com/css?family=Griffy' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Imprima' rel='stylesheet'>

    <link rel="stylesheet" type="text/css" th:href="@{/css/show_all_templates_style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/sort_style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/top_label_style.css}"/>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>

<body>

<th:block th:include="TopLablePage"></th:block>

<div class="container-elements">
    <div class="form-container">
        <div class="pageable-box">
            <select name="userSortColumn" onchange="sortByColumn(this.value)" class="sort-select">
                <option value="NAME">Name</option>
                <option value="COST">Cost</option>
                <option value="TYPE_TEMPLATE">Type</option>
                <option value="DATA_OF_CREATION" selected>Date of creation</option>
            </select>
            <input type="hidden" name="desc" id="sort-input-desc" value="true">
            <button id="sort-button-id" onclick="changeDirection(this.id),setDirection()"
                    class="sort-button-style"></button>
        </div>
        <br>
        <form class="filter-box" id="filter-id">

            <h2 class="filter-label-find">Find by:</h2>
            <div class="filter-box-lable-and-input">
                <label class="filter-input-lable" for="name-order-id">Name order</label>
                <input id="name-order-id" type="text" name="name">
            </div>

            <div class="filter-box-lable-and-input">
                <label class="filter-input-lable" for="select-color-id">Colors</label>
                <select class="filter-box-select-height" name="colorIds" id="select-color-id" multiple>

                    <option th:each="color : ${@materialsServiceImpl.findAllColors()}" th:value="${color.id}"
                            th:text="${color.name}">...
                    </option>
                </select>
            </div>

            <div class="filter-box-lable-and-input">
                <label class="filter-input-lable" for="select-materials-id">Materials</label>
                <select class="filter-box-select-height" name="materialIds" id="select-materials-id" multiple>
                    <option th:each="material : ${@materialsServiceImpl.findAllMaterial()}" th:value="${material.id}"
                            th:text="${material.name}">...
                    </option>
                </select>
            </div>

            <div class="filter-box-lable-and-input">
                <label class="filter-input-lable" for="select-order-type-id">Type</label>
                <select class="filter-box-select-height" name="types" id="select-order-type-id" multiple>
                    <option th:each="type : ${@tailoringTemplateServiceImpl.findAllTypeTemplate()}" th:value="${type}"
                            th:text="${type}">...
                    </option>
                </select>
            </div>

            <div class="filter-box-lable-and-input">
                <label class="filter-input-lable-between">Cost</label>
                <div class="filter-box-between">
                    <input type="number" name="cost.from" class="filter-box-input-between" placeholder="Start">
                    <input type="number" name="cost.to" class="filter-box-input-between" placeholder="End">
                </div>
            </div>

            <input class="filter-input-find-submit" type="button" value="Find"
                   onclick="selectToMultipleSelect(), toFilter()">
            <input type="hidden" id="images-directory-id"
                   th:value="${@environment.getProperty('template.image.server.directory')}">
        </form>

    </div>

    <div class="container-orders" id="template-container-id">
        <div class="template-box">
            <p class="cost-lable">950 UAH</p>

            <a href="#item1"> <img src="" alt=""></a>

            <div class="material-and-colors-select-box">
                <select class="select-template">
                    <option value="" disabled selected>Materials</option>
                    <option value="" disabled>Wool</option>
                </select>
                <select class="select-template">
                    <option value="" disabled selected>Colors</option>
                    <option value="" disabled>Red</option>
                </select>
            </div>

            <p class="template-name">T-short</p>
        </div>
    </div>
</div>


</body>
<script th:src="@{/js/multi-select-dropdown.js}"></script>
<script th:src="@{/js/make_form_data_from_filter.js}"></script>
<script th:src="@{/js/public_template_controller.js}"></script>
<script th:src="@{/js/sort-buttons.js}"></script>
<script>
    startCustomSelect([
        multipleCustomeSelect('select-color-id', "Choose color", 'selected-option'),
        multipleCustomeSelect('select-materials-id', "Choose material", 'selected-option'),
        multipleCustomeSelect('select-order-type-id', "Choose type", 'selected-option')
    ]);

    setMultipleSelects(['colorIds', 'materialIds', 'types']);
    sortButtons.push(sortButton('sort-button-id', 'sort-input-desc', true));
    setSymbols();
    toFilter();
</script>

</html>