<div style="padding-bottom: 45px">
    <h1 class="top-label-h1-text"><a href="#main-page" style="color: #520974">Lilac tangerine</a></h1>
    <div class="line-button-box">
        <div class="line-button-box-margin-top">
            <div class="line-button-box-margin-top-center">
                <a href="#1">Ready templates</a>
                <p>&nbsp|&nbsp</p>
                <a href="#2">Create your own order</a>
                <p>&nbsp|&nbsp</p>

                <a href="#3" th:if="${isAuthorized}">Personal office</a>
                <p th:if="${isAuthorized}">&nbsp|&nbsp</p>
                <a href="#Sign-out" th:if="${isAuthorized}">Sign out</a>

                <a href="#Sign-in" th:unless="${isAuthorized}">Sign in</a>

            </div>
        </div>
    </div>
</div>
